<%= turbo_frame_tag "search_result" do %>
  <% if @search_result %>
    <h3>中継地点での待ち時間</h3>
    <%= render partial: "current_time", locals: { current_time: @caluculation[:current_time] } %>
  <% end %>
<% end %>
