<div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>link to <a href="https://github.com/husita-h/k_bus_norikae_app" target="_blank">Github Repository</p>
    </div>
  </footer>
</div>