<nav class="border-bottom">
  <ul class="flex">
    <li class="mr-6">
      北区コミュニティバス - Kバス 乗換待ち時間計算
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/bus.html" target="_blank">北区コミュニティバスのご案内</a>
    </li>
    <li class="mr-6">
      <a class="text-blue-500 hover:text-blue-800" href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/documents/2021_11_timetable_1.pdf" target="_blank">時刻表 - ver.2021_11</a>
    </li>
  </ul>
</nav>
