<nav class="menubar">
  <h1>hogehoge</h1>
  <div class="navbar bg-base-100">
    <a class="btn btn-ghost normal-case text-xl">乗換待ち時間計算</a>
      <ul class="menus">
    <li class="menu">乗換待ち時間計算</li>
    <li class="menu">北区コミュニティバス - Kバス</li>
    <li class="menu"><a href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/bus.html" target="_blank">北区コミュニティバス《愛称名Kバス》のご案内
</a></li>
    <li class="menu"><a href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/documents/2021_11_timetable_1.pdf" target="_blank">時刻表 - ver.2021_11</a></li>
  </ul>
  </div>
</nav>
<header className="navbar bg-base-200">
  <div className="navbar-start">
    <div className="dropdown">
  <div className="navbar-end">
    <button className="btn btn-ghost btn-circle">
    </button>
  </div>
</header>
