<nav class="menubar">
  <ul class="menus">
    <li class="menu">乗換待ち時間計算</li>
    <li class="menu">北区コミュニティバス - Kバス</li>
    <li class="menu"><a href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/bus.html">北区コミュニティバス《愛称名Kバス》のご案内
</a></li>
    <li class="menu"><a href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/documents/2021_11_timetable_1.pdf">時刻表 - ver.2021_11</a></li>
  </ul>
</nav>
