<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/bus.html" target="_blank">北区HP</a></li>
    <li><a href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/documents/2021_11_timetable_1.pdf" target="_blank">時刻表 - ver.2021_11</a></li>
  </ul>
</nav>