<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/bus.html" target="_blank"><%= t("views.page.navbar.hp") %></a></li>
    <li><a href="https://www.city.kita.tokyo.jp/d-shisetu/kurashi/bus/documents/2021_11_timetable_1.pdf" target="_blank"><%= t("views.page.navbar.timetabale_data_link") %></a></li>
  </ul>
</nav>